<div class="card mb-5 d-none d-md-block">
  <div class="card-body text-center text-light">
    <p class="card-text">Dernières sorties</p>
    <h1 class="card-title">Découvrez les dernières playlists du moment !</h1>
  </div>
</div>


<div class="table-responsive" style="max-height: 800px;">
  <table class="table table-light table-hover">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th (click)="sort('nomPlaylist')">Nom playlist&nbsp;<i class="bi bi-chevron-expand"></i></th>
        <th (click)="sort('nomCreateur')">Nom créateur<i class="bi bi-chevron-expand"></i></th>
        <th (click)="sort('style')">Style&nbsp;<i class="bi bi-chevron-expand"></i></th>
        <th (click)="sort('nbClics')">Nombre de clics&nbsp;<i class="bi bi-chevron-expand"></i></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let playlist of this.lPlaylists | orderBy : key : reverse; index as i">
        <td>{{i+1}}</td>
        <td>{{playlist.nomPlaylist}}</td>
        <td>{{playlist.nomCreateur}}</td>
        <td>{{playlist.style}}</td>
        <td>{{playlist.nbClics}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info btn-sm" routerLink="/details/{{playlist.id}}"><i class="bi bi-search"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click) = "deleteRow(playlist.id)"><i class="bi bi-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
