<div class="card shadow-sm" >
    <div class="row">
      <div class="col-6">
        <img class="login__imagek" src="assets/inscription2.jpg" width="100%">
        <div class="card-img-overlay text-light">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      <div class="col-5">
        <div class="card-body">
          <h2 class="card-title text-center text-secondary">Inscription</h2>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control form-control-lg" id="username"/>
            </div>
            <div class="form-group">
              <a href="#" class="btn btn-info btn-lg btn-block my-3">
                Login
              </a>

              <span> <a href="#">Create account</a></span>
            </div>
        </div>
      </div>
    </div>
</div>
<!--<div class="col-6 bg-info ">-->
<!--  <h1 class="text-light">Sign in page</h1>-->
<!--  <span class="text-light">crée ton compte ici pour pouvoir accéder à la meilleure application pour les fans de musique</span>-->
<!--</div>-->
<!--<div class="col-6 ">-->
<!--  <h2 class="text-secondary mt-3 mb-3">Crée ton compte</h2>-->
<!--  &lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 mt-sm-5 mb-sm-5">&ndash;&gt;-->
<!--  &lt;!&ndash;  <ul class=" list-inline">&ndash;&gt;-->
<!--  &lt;!&ndash;    <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>&ndash;&gt;-->
<!--  &lt;!&ndash;  </ul>&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--  &lt;!&ndash;<span class="text-center">ou utilise ton adresse mail pour t'enregistrer</span>&ndash;&gt;-->
<!--  <div class="form-group row">-->
<!--    <div class="col-12">-->
<!--  &lt;!&ndash;    <label for="nomUtilisateur" class="form-label">Nom de la playlist</label>&ndash;&gt;-->
<!--      <input type="text" class="form-control" id="nomUtilisateur" placeholder="Pseudo" required>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-12">-->
<!--      &lt;!&ndash;    <label for="nomUtilisateur" class="form-label">Nom de la playlist</label>&ndash;&gt;-->
<!--      <input type="email" class="form-control" id="mailUtilisateur" placeholder="Mail" required>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-12">-->
<!--      &lt;!&ndash;    <label for="nomUtilisateur" class="form-label">Nom de la playlist</label>&ndash;&gt;-->
<!--      <input type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" required>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-12">-->
<!--      <button class="btn btn-info w-100" >Inscription</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

