<h2 class="mt-3 mb-3">Détails de la playlist</h2>
<div class="row">
  <div class="col-4">
    <div class="card" >
      <img src="assets/pochetteDefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">{{playlist.nomPlaylist}}</h4>
        <h6 class="font-weight-bold">{{playlist.nomCreateur}}</h6>
        {{playlist.style}} <br/>
        {{playlist.nbClics}} <i class="bi bi-eye-fill"></i>
      </div>
    </div>
  </div>

  <div class="col-8">
    <h5>Liste musique</h5>
    <table class="table table-light table-hover">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Nom Artiste</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let musique of this.playlist.listeMorceaux; index as i">
        <td>{{i+1}}</td>
        <td>{{musique.titre}}</td>
        <td>{{musique.nomArtiste}}</td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h5>Liste contributeur</h5>
    <table class="table table-light table-hover">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nom</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contributeur of this.playlist.listeContributeurs; index as i">
        <td>{{i+1}}</td>
        <td>{{contributeur.nomUtilisateur}}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

